.hero{
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(rgba(17, 98, 125, 0.7),rgba(17, 98, 125, 0.7)), url('../../assets/hero.png');
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
}

.hero-text{
        max-width: 50rem;
        text-align: center;
}

.hero-text h1{
        font-size: 60px;
        font-weight: 600;
}

.hero-text p{
        max-width: 44rem;
        line-height: 1.4;
        margin: 10px auto 20px;

}

/* Media-query--------------------------- */

@media (max-width : 920px){
        .hero-text h1{
                font-size: 2.5rem;
        }
}

@media (max-width : 600px){
        .hero-text h1{
                font-size: 2rem;
        }  
        .hero-text p{
                font-size: 0.9rem;
        }
}

@media (max-width : 650px){
        .programs{
                flex-direction: column;
        }
        .program{
                margin:1.2rem;
                flex-basis: 100%;
        }
}