.testimonials{
        margin: 5rem auto;
        position: relative; 
}

.next-btn, .back-btn{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: 1rem;
        width: 3rem;
        border-radius: 50%;
        background-color: rgb(67, 67, 177);
        cursor: pointer;
        z-index: 1;
}

.back-btn{
        right: auto;
        left: 0;
}

.slider{
        overflow: hidden;
        margin: 0 2.2rem;

}

.slider ul{
        /* background-color: blueviolet; */
        width: 200%;
        display: flex;
        overflow-x: hidden;
        transition: 0.5s;
        /* translate: -25%; */
}
.slider ul li{
       list-style: none ;
       width: 50%;
       padding: 1.2rem;
       
}

.slide{
        box-shadow: 0 0 1.2rem rgba(0,0,0,0.08);
        padding: 2.5rem;
        border-radius: 0.7rem;
        line-height: 1.4;
        
}

.slide img{
        width: 4rem;
        border-radius: 50%;
        margin-right: 0.7rem;
        border: 4px solid #212ea0;
}
.user-info{
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;
        font-size: 1rem;
}

.user-info h3{
        color: rgb(67, 67, 177);;
}

/* Media query ------------------ */

@media(max-width:800px){
        .testimonials{
                padding: 0 2.5rem;
        }

        .next-btn, .back-btn{
                padding: 0.8rem;
               width: 2.2rem; 
        }
        .testimonials ul li{
                padding: 0.7rem;
        }
        .slide{
                height: 20rem ;
                padding: 0.7rem;
        }
        .slide img{
                width: 4rem;
        }
        .slider{
                margin: 0 0;
        }
}
@media(max-width:600px){
        .slide{
                height: 24rem ;
                width: 10rem;
        }
        .slider ul{
                /* background-color: blueviolet; */
                width: 220%;
        }
        .user-info{
                display: block;
                margin-bottom: 0.7rem;
                font-size: 12px;
        }
        .user-info h3{
                font-size: 1rem;
        }
        .slider p{
                font-size: 14px;
                
        }
        .slider ul li{
                padding: 1.2rem;
         }
}
